.listingtable {
    width:100%;
    background: #e2e2e2;
    border: 1px solid black;
}

a {
    color: #fdfdfd;
    text-decoration: unset;
    font-weight:bold;
}

.section {
    background: #48c51f;
}

.category {text-align: center;font-size: 300%;}

.title {
    font-size: 150%;
    background: #1a6d0a;
    border: 2px solid black;
    text-align: center;
}

th {
    width:100%;
    font-size:300%;
    text-align=center;
}