<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method='post'>
    <div>Category:</div>
    <input type='text' name="category">
    <div>link:</div>
    <input type='text' name="link">

    <div><input type='radio' name="addremove" value="add">add<br></div>
    <div><input type='radio' name="addremove" value="remove">remove<br></div>

    <div><input type="submit" value="Submit"></div>

<H1>RSS Database</H1>
{% for category in urls%}
    <H3><a href={{"http://10.109.12.172:5000/category/" + category|replace(" ","%20")}}>{{ category }}</a></H3>
        {% for link in urls[category] %}
        <div><a href={{link}}>{{ link }}</a></div>
        {% endfor %}
{% endfor %}
</form >
</body>
</html>