<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="style.css")}}>
</head>
<body>
    {% for category in data %}

    <div class="section"><div class="category">{{ category }}</div>

        {% for rssfeed in data[category] %}
        <div class="title"><a href={{ rssfeed.link }}>{{ rssfeed.title }}</a></div>
        <table class="listingtable">
            {% if rssfeed.summary %}
            <tr><td>{{ rssfeed.summary|safe }}</td></tr>
            {% endif %}
            {% if rssfeed.author %}
            <tr><td>{{ rssfeed.author }}</td></tr>
            {% endif %}
        </table>
        {% endfor %}

    </div>

    {% endfor %}
</body>
</html>